.intro-container {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
  margin-bottom: 18rem;
  background-color: #222222;
  padding-bottom: 13px;
  scroll-margin-top: 25vh;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.title-text {
  margin-left: 20px;
}

.welcome-paragraph {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  text-align: right;
  padding: 8px;
  margin-left: 30%;
  background-color: #222222;
  box-shadow: 2px 2px 0 #5c95ff;
  max-width: 50%;
}

.hero-name {
  color: #f17f29;
  text-shadow: 3px 2px 0 #bdc4a7;
  font-size: 8rem;
  margin: 0;
}

/* smartphone */
@media (max-width: 425px) {
  .welcome-paragraph {
    max-width: 280px;
    margin-right: 50px;
  }

  .title-text{
    margin-left: 20px;
  }

  .hero-name {
    font-size: 5rem;
  }
}