/* For WebKit browsers (Chrome, Safari) */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 26px;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 26px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #222222;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #5C95FF;
  border:solid #222222 8px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}
